@{
    ViewData["Title"] = "TorrentBG || Torrents";
}
@model AllTorrentsQueryModel 

<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2><span class=".text-primary">★</span>Torrents</h2>
            <form class="example" method="get">
                <input type="text" placeholder="Search.." asp-for="SearchTerm">
                <button type="submit"><i class="fa fa-search"></i></button>

                <div class="form-group col-md-4">
                    <div class="form-group">
                        <label asp-for="Genre"></label>
                        <select asp-for="Genre" class="form-control">
                            <option selected value="All">All</option>
                            @foreach (var name in Model.Genres)
                            {
                                <option value="@name">@name</option>
                            }
                        </select>
                    </div>

                </div>
                <div class="form-group col-md-4">
                    <div class="form-group">
                        <label asp-for="Category"></label>
                        <select asp-for="Category" class="form-control">
                            <option selected value="All">All</option>
                            @foreach (var name in Model.Categories)
                            {
                                <option value="@name">@name</option>
                            }

                        </select>
                    </div>

                </div>
            </form>
            
        </div>

        @foreach (var torrent in Model.Torrents)
        {
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box iconbox-orange ">
                    <div class="torrent-img">
                        <img src="" alt="faster movie thumbnail">
                    </div>
                    <h4><a href="">@torrent.Name</a></h4>
                    <p>@torrent.Description</p>
                </div>
            </div>
        }


    </div>
</section><!-- End Sevices Section -->
<!--  </section> End About Video Section -->
