@model TorrentDetailsViewModel
@{
    ViewData["Title"] = $"TorrentBG || {Model.Name}";
}
<section style=" margin-top: -50px;">
    <div class="torrent-title" style="display: flex; justify-content: center; align-items: center; position: relative; color: rgb(39, 89, 146);">
        <h1 id="torrentName">@Model.Name</h1>
    </div>
    <div class="img-container" style=" display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <hr style="width: 50%;">
        <img src="~/img/@Model.Image" alt="@Model.Name detail photo" style="width: 470px;">
        <hr style="width: 50%;">
    </div>
    <div class="movie-desc" style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%;">
        <h4>Release Date</h4>
        <h5 style="font-style: italic; letter-spacing: 1px;">@Model.ReleaseDate</h5>


        @if (Model.CategoryName == "Games")
        {
            <h4>Developer</h4>
            <a asp-controller="Developer" asp-action="Torrents" asp-route-Id="@Model.DeveloperId"><h5 style="font-style: italic; letter-spacing: 1px;">@Model.DeveloperName</h5></a>

            <h4>Install Instructions</h4>
            <p style="width: 45%; text-align: center; font-style: italic;">@Model.InstallInstructions</p>
        }
        else
        {
            <h4>Length(min)</h4>
            <h5 style="font-style: italic; letter-spacing: 1px;">@Model.Length</h5>

            <h4>Director</h4>
            <a asp-controller="Director" asp-action="Torrents" asp-route-Id="@Model.DirectorId"><h5 style="font-style: italic; letter-spacing: 1px;">@Model.DirectorName</h5></a>

            <h4>Main Actors</h4>
            <p style="width: 45%; text-align: center; font-style: italic;">@Model.MainActors</p>
        }

        <h4>Description</h4>
        <p style="width: 45%; text-align: center; font-style: italic;">
            @Model.Description
        </p>
        <h4>Downloads(@Model.Downloads)</h4>
        <a asp-controller="Torrents" asp-action="Download" asp-route-torrentName="@Model.Name"><button>Download</button></a>
        <hr style="width: 50%;">
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="Show()">
            Comments
        </button>
    </div>

    <div id="comments" style="display:block">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <section class="content-item" id="comments">
            <div class="container">
                <div class="row">
                    <form asp-action="CreateComment">
                        <h3 class="pull-left" id="userInput">@this.User.Identity.Name</h3>
                        <button type="submit" class="btn btn-normal pull-right" id="sendButton">Submit</button>
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-3 col-lg-2 hidden-xs">
                                    <img class="img-responsive" src="~/img/@Model.UserImage" alt="@this.User.Identity.Name's photo">
                                </div>
                                <input type="hidden"  asp-for="Id"/>
                                <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                    <input type="text" class="form-control" id="message" placeholder="Your message" asp-for="CommentText" />
                                </div>
                            </div>
                        </fieldset>
                    </form>    
                        <h3>@Model.Comments.Count Comments</h3>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>


@section Styles{
    <link href="~/css/commentStyle.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="~/js/comment.js "></script>

}