@model EditTorrentFormModel
@{
    ViewData["Title"] = "TorrentBG || EditGame";
}

<section style=" margin-top: -50px;" class="profileBody">
    <h1 style="display: flex; justify-content: center; margin-bottom: 20px; color:rgb(39, 89, 146);">Add Game</h1>
    <form method="post" class="add-torrent">

        <div class="torrent-title" style="display: flex; justify-content: center; align-items: center; position: relative; color: rgb(39, 89, 146);">
            <input type="text" asp-for="Name" id="torrentName" value="@Model.Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="img-container" style=" display: flex; justify-content: center; align-items: center; flex-direction: column;">
            <hr style="width: 50%;">
            <div style="width: 470px; height: 686px; border: 1px solid; background-color: white; display: flex; justify-content: center; align-items: center; flex-direction: column;">
                <h3>Choose Image</h3>
                <br>
                <input type="file" name="" id="" value="">
            </div>
            <hr style="width: 50%;">
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%;">

            <h4>Release</h4>
            <input type="text" asp-for="Year" id="releaseDate" value="@Model.Year">
            <span asp-validation-for="Year" class="text-danger"></span>

            <h4>Developers</h4>
            <input type="text" asp-for="DeveloperName" id="gameDevelopers" value="@Model.DeveloperName">
            <span asp-validation-for="DeveloperName" class="text-danger"></span>

            
            <h4>Category</h4>
            <div id="DropDown">
                <select class="form-control" asp-for="CategoryId">
                    
                    @foreach (var category in Model.Categories.Where(x => x.Name == "Games"))
                    {
                        <option value="@category.Id">@category.Name</option>
                    }

                </select>
            </div>

            <h4>Genre</h4>
            <div id="DropDown">
                <select class="form-control" asp-for="GenreId">

                    @foreach (var genre in Model.Genres)
                    {
                        @if (genre.Name == Model.GenreName)
                        {
                            <option selected value="@genre.Id">@genre.Name</option>
                        }
                        else
                        {
                            <option value="@genre.Id">@genre.Name</option>
                        }
                    }

                </select>
            </div>

            <h4>Install Instructions</h4>
            <textarea asp-for="InstallInstructions" id="movieActors" cols="30" rows="10" >@Model.InstallInstructions</textarea>
            <span asp-validation-for="InstallInstructions" class="text-danger"></span>


            <h4>Description</h4>
            <textarea asp-for="Description" id="review" cols="30" rows="10" >@Model.Description</textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
            <br>
            <button type="submit">Edit Torrent</button>
            <hr style="width: 50%;">
        </div>

    </form>
</section>